/*******Fira Sans Bold*******/
@font-face {
	font-family: "firasansbold";
	src: url("../font/fira-sans.bold.ttf") format("truetype");
}

/*******Fira Sans Book*******/
@font-face {
	font-family: "firasansbook";
	src: url("../font/fira-sans.book.ttf") format("truetype");
}

/*******Fira Sans Extra Bold*******/
@font-face {
	font-family: "firasansextrabold";
	src: url("../font/fira-sans.extrabold.ttf") format("truetype");
}

/*******Fira Sans Medium*******/
@font-face {
	font-family: "firasansmedium";
	src: url("../font/fira-sans.medium.ttf") format("truetype");
}

/*******Fira Sans Semi Bold*******/
@font-face {
	font-family: "firasanssemibold";
	src: url("../font/fira-sans.semibold.ttf") format("truetype");
}

/*******Myraid Pro Regular*******/
@font-face {
	font-family: "myraidproregular";
	src: url("../font/MyriadPro-Regular_0.otf") format("opentype");
}

body {
	background-color: #ffffff;
	font-family: 'firasansbook', sans-serif;
}

.socioladder-heading {
	font-family: 'firasansextrabold', sans-serif;
	font-size: 3rem;
}

header {
	padding: 0.875rem 0;
	z-index: 2;
}

.navbar li a {
	margin: 0 0 0 1.5rem;
	color: #231f20!important;
	padding: 0 1rem!important;
	border-radius: 4px;
	font-weight: 600;
	font-family: fira sans,sans-serif;
	transition: all .5s ease 0s;
}

.navbar li a:hover,
.navbar li.active a {
	background: #6da641;
	color: rgba(255,255,255,1)!important;
}

.navbar li.active a:hover {
	background: #fff;
  color: #6da641!important;
}

main {
	z-index: 1;
	box-shadow: 0px 8px 20px 0px #231f20;
}

.home-banner {
	background-image: url(../img/socioladder-home-banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 6rem 0;
	box-shadow: 0px 8px 20px 0px #231f20;
}

.home-banner-form {
	background-color: rgba(255,255,255,0.8);
}

.home-banner-form .form-control {
	border: 1px solid #909090;
}

.home-banner-form-heading {
	color: #6da641;
}

.home-banner-form-signup {
	background-color: #6faa43;
	border: 2px solid #ffffff;
}

.register-steps .card-signup{
	border: 5px solid #00bdb1;
	border-radius: 1.5rem;
	transition: all .5s ease 0s;
}

.register-steps .card-getapproved{
	border: 5px solid #ffaa00;
	border-radius: 1.5rem;
	transition: all .5s ease 0s;
}

.register-steps .card-fundraise{
	border: 5px solid #808285;
	border-radius: 1.5rem;
	transition: all .5s ease 0s;
}

.register-steps .card-signup:hover, 
.register-steps .card-getapproved:hover, 
.register-steps .card-fundraise:hover {
	box-shadow: 0px 0px 10px 0px #231f20;
	transition: all .5s ease 0s;
}

.btn-plans {
	border: 3px solid #6faa43;
	border-radius: 1.5rem;
	font-size: 1.3rem;
  font-weight: 600;
}

.digital-marketing {
	background-color: #ffdd00;
	background-image: url(../img/digital-marketing.png);
	background-repeat: no-repeat;
	background-size: 9.375rem;
	background-position: 90% -1rem;
}

.item {
	border-right: 1px solid #d6d6d6;
}

.ibm, .unglobal, .nse, .kpmg, .nestin {
	height: 110px;
}

.ibm img{
	width: 130px!important;
}

.unglobal img{
	width: 160px!important;
}

.nse img{
	width: 110px!important;
}

.kpmg img{
	width: 120px!important;
}

.nestin img{
	width: 100px!important;
}

.owl-nav button span {
	background-image: url(../img/arrow.png);
	width: 0.75rem;
	height: 1.1875rem;
	background-repeat: no-repeat;
	position: absolute;
	top: 30%;
	background-size: 100%;
	color: transparent;
}
.owl-prev span {
	left: -1.75rem;
	transform: rotate(180deg);
}

.owl-next span {
	right: -1.75rem;
}

footer {
	background-color: #6faa43;
	position: relative;
}

/************************Responsive Section***********************/

@media screen and (max-width: 991px) {
	.navbar-toggler {
		border: none;
	}
	.navbar-toggler:focus {
		outline: none;
	}
	#navbarSection {
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 1;
		width: 100%;
		padding: 1rem;
		background: #fff;
	}
}

@media screen and (min-width: 992px) {
	.home-banner {
		height: 37.25rem;
	}
	footer::before {
		content: "";
		position: absolute;
		background-image: url(../img/footer-bg.png);
		background-repeat: no-repeat;
		height: 310px;
		width: 300px;
		background-size: 100%;
		right: 8px;
		top: 0;
	}
}

@media screen and (min-width: 768px) {
	.fundraising-arrow::before {
		content: "";
		background: url(../img/arrow-1.png);
		background-repeat: no-repeat;
		background-size: 100%;
		height: 1px;
		width: 85px;
		position: absolute;
		top: 55px;
		left: -70px;
	}
	
	.fundraising-arrow::after {
		content: "";
		background: url(../img/arrow-2.png);
		background-repeat: no-repeat;
		background-size: 100%;
		height: 30px;
		width: 50px;
		position: absolute;
		top: 55px;
		margin-left: 5px;
	}

	.awareness-arrow::before {
		content: "";
		background: url(../img/arrow-2.png);
		background-repeat: no-repeat;
		background-size: 100%;
		height: 30px;
		width: 50px;
		position: absolute;
		top: 55px;
		right: 100px;
		transform: scaleX(-1);
	}
	
	.awareness-arrow::after {
    content: "";
    background: url(../img/arrow-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1px;
    width: 75px;
    position: absolute;
    top: 55px;
    margin-left: 10px;
    z-index: 1;
	}

	.practice-arrow::before {
		content: "";
		background: url(../img/arrow-1.png);
		background-repeat: no-repeat;
		background-size: 100%;
		height: 1px;
		width: 85px;
		position: absolute;
		top: 55px;
		left: -70px;
	}
	
	.practice-arrow::after {
		content: "";
		background: url(../img/arrow-2.png);
		background-repeat: no-repeat;
		background-size: 100%;
		height: 30px;
		width: 50px;
		position: absolute;
		top: 55px;
		margin-left: 5px;
	}

	.dashboard-arrow::before {
		content: "";
		background: url(../img/arrow-2.png);
		background-repeat: no-repeat;
		background-size: 100%;
		height: 30px;
		width: 50px;
		position: absolute;
		top: 55px;
		right: 100px;
		transform: scaleX(-1);
	}
	
	.dashboard-arrow::after {
    content: "";
    background: url(../img/arrow-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1px;
    width: 75px;
    position: absolute;
    top: 55px;
    margin-left: 10px;
    z-index: 1;
	}
}

/************************Global Css***********************/

.btn-socioladder {
		color: #fff;
    background-color: #6faa43;
    border-color: #6faa43;
}

.btn-socioladder::after {
	content: "\276F";
	display: inline-block;
	margin-left: 5px;
}

.btn-socioladder:hover {
	color: #fff;
	background-color: #5e9039;
	border-color: #5e9039;
}

.line-height-1{
	line-height: 1;
}